data-match/data-match-engine/src/main/resources/Parameters.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT Parameters (Process?, Input?, Result?, AddressElementStandardize?)>  <!-- Complete parameter settings for an address object, see documentation: 5.12 Understanding Process Parameters -->
<!ATTLIST Parameters
  WriteXMLBOM (ALWAYS | IF_NECESSARY | NEVER) "IF_NECESSARY" 
  
  WriteXMLEncoding (UTF-8 | ISO-8859-1 | ISO-8859-2 | ISO-8859-3 | ISO-8859-4 | 
    ISO-8859-5 | ISO-8859-6 | ISO-8859-7 | ISO-8859-8 | ISO-8859-9 | ISO-8859-10 | 
    ISO-8859-15 | IBM437 | IBM850 | IBM852 | IBM855 | IBM857 | IBM862 | WINDOWS-1250 | 
    WINDOWS-1251 | WINDOWS-1252 | WINDOWS-1253 | WINDOWS-1254 | WINDOWS-1255 | 
    WINDOWS-1256 | WINDOWS-1257 | US-ASCII | DBCS_BIG5 | DBCS_JIS | DBCS_GBK | DBCS_UHC | EBCDIC |
    UTF-16 | UTF-16BE | UTF-16LE | UCS-2 | UCS-2BE | UCS-2LE ) "ISO-8859-1" 
>
<!-- General WriteXMLBOM:       Specifies if or when a BOM (byte order mark) shall be written at the start of the
                                Parameters.xml returned by the engine -->
<!-- General WriteXMLEncoding:  The encoding for the Parameters.xml returned by the engine -->

<!ELEMENT Process EMPTY>  <!-- Settings for processing -->
<!ATTLIST Process    
  MatchingAlternatives (NONE | SYNONYMS_ONLY | ARCHIVES_ONLY | ALL) "ALL"
  MatchingScope (LOCALITY_LEVEL | STREET_LEVEL | DELIVERYPOINT_LEVEL | ALL) "ALL"
  OptimizationLevel (NARROW | STANDARD | WIDE) "STANDARD"
  Mode (COUNTRYRECOGNITION | PARSE | FASTCOMPLETION | BATCH | INTERACTIVE | CERTIFIED) "BATCH"
  
  EnrichmentGeoCoding (ON | OFF) "OFF"
  EnrichmentCASS (ON | OFF) "OFF"
  EnrichmentSERP (ON | OFF) "OFF"
  EnrichmentSNA  (ON | OFF) "OFF"
  EnrichmentSupplementaryGB (ON | OFF) "OFF"
  EnrichmentSupplementaryUS (ON | OFF) "OFF"
>

<!-- Process MatchingAlternatives:       Specifies whether to search for synonyms (commonly used alternative names) and/or archive names (outdated old names), 
                                                                  see documentation: 5.12.5 The MatchingAlternatives and MatchingScope Parameters -->
<!-- Process MatchingScope:                Specifies what parts of the address shall be validated:
                                      LOCALITY_LEVEL:      Only Locality and PostalCode
                                      STREET_LEVEL:        As for LOCALITY_LEVEL plus Street incl. Number
                                      DELIVERYPOINT_LEVEL: As for STREET_LEVEL plus Building, SubBuilding
                                      ALL:                 As for DELIVERYPOINT_LEVEL plus possibly other elements
                                   Please note that the actual validation scope is dependent on the corresponding database -->
<!-- Process OptimizationLevel:    see documentation: 5.24 Understanding OptimizationLevel -->
<!-- Process Mode:                 The requested processing mode; if no corresponding database file is ACTIVE the actual processing mode
                                   may fall back to BATCH from CERTIFIED or to PARSE from BATCH, FASTCOMPLETION or INTERACTIVE
                                   (the actual processing mode used is available in the attribute ModeUsed of the element Result of the
                                   Result.xml), see documentation: 5.11 Understanding Process Modes -->
<!-- Process EnrichmentGeoCoding:  Specifies whether a geocoding enrichment shall be executed in addition to the basic processing, 
                                                               see documentation: 6.13 How do I retrieve address enrichments? -->
<!-- Process EnrichmentCASS:       Specifies whether CASS enrichment data shall be generated  to the basic processing (such an enrichment
                                   is only actually generated when the country is USA and the actual Process Mode is CERTIFIED) -->

<!ELEMENT Input EMPTY>  <!-- Settings for input data -->
<!ATTLIST Input
  WriteXMLBOM (ALWAYS | IF_NECESSARY | NEVER) "IF_NECESSARY" 
  
  Encoding (UTF-8 | ISO-8859-1 | ISO-8859-2 | ISO-8859-3 | ISO-8859-4 | 
    ISO-8859-5 | ISO-8859-6 | ISO-8859-7 | ISO-8859-8 | ISO-8859-9 | ISO-8859-10 | 
    ISO-8859-15 | IBM437 | IBM850 | IBM852 | IBM855 | IBM857 | IBM862 | WINDOWS-1250 | 
    WINDOWS-1251 | WINDOWS-1252 | WINDOWS-1253 | WINDOWS-1254 | WINDOWS-1255 | 
    WINDOWS-1256 | WINDOWS-1257 | US-ASCII | DBCS_BIG5 | DBCS_JIS | DBCS_GBK | DBCS_UHC | EBCDIC |
    UTF-16 | UTF-16BE | UTF-16LE | UCS-2 | UCS-2BE | UCS-2LE ) "ISO-8859-1" 
  
  FormatType (ALL | ADDRESS_ONLY | WITH_ORGANIZATION | WITH_CONTACT | WITH_ORGANIZATION_CONTACT | WITH_ORGANIZATION_DEPARTMENT) "ALL"
  FormatDelimiter (CRLF | LF | CR | SEMICOLON | COMMA | TAB | PIPE | SPACE) "CRLF"
  FormatWithCountry (ON | OFF) "OFF"   
  
  DefaultCountryISO3 CDATA #IMPLIED 
  ForceCountryISO3 CDATA #IMPLIED 
>
<!-- Input WriteXMLBOM:  Specifies if or when a BOM (byte order mark) shall be written at the start of the
                         InputData.xml returned by the engine -->
<!-- Input Encoding:     The encoding for all input and the InputData.xml returned by the engine, see documentation: 5.8 Understanding Input and Output Encoding -->
<!-- Input FormatType:    -->
<!-- Input DefaultCountryISO3:  The default country name in ISO3 format, see documentation: 5.12.3 The ForceCountryISO3 and DefaultCountryISO3 Parameters  -->
<!-- Input ForceCountryISO3:    The forced country name in ISO3 format; if present, this country is always used regardless whether
                                a country is present in the input data or not; ForceCountryISO3 has precedence over DefaultCountryISO3 -->

<!ELEMENT Result EMPTY>  <!-- Settings for result data -->
<!ATTLIST Result
  WriteXMLBOM (ALWAYS | IF_NECESSARY | NEVER) "IF_NECESSARY" 

  Encoding (UTF-8 | ISO-8859-1 | ISO-8859-2 | ISO-8859-3 | ISO-8859-4 | 
    ISO-8859-5 | ISO-8859-6 | ISO-8859-7 | ISO-8859-8 | ISO-8859-9 | ISO-8859-10 | 
    ISO-8859-15 | IBM437 | IBM850 | IBM852 | IBM855 | IBM857 | IBM862 | WINDOWS-1250 | 
    WINDOWS-1251 | WINDOWS-1252 | WINDOWS-1253 | WINDOWS-1254 | WINDOWS-1255 | 
    WINDOWS-1256 | WINDOWS-1257 | US-ASCII | DBCS_BIG5 | DBCS_JIS | DBCS_GBK | DBCS_UHC | EBCDIC |
    UTF-16 | UTF-16BE | UTF-16LE | UCS-2 | UCS-2BE | UCS-2LE ) "ISO-8859-1" 
      
    
  FormatType (ALL | ADDRESS_ONLY | WITH_ORGANIZATION | WITH_CONTACT | WITH_ORGANIZATION_CONTACT | WITH_ORGANIZATION_DEPARTMENT) "ALL"
  FormatDelimiter (CRLF | LF | CR | SEMICOLON | COMMA | TAB | PIPE | SPACE) "CRLF"
  FormatWithCountry (ON | OFF) "OFF"  
  FormatMaxLines (1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19) "19"

  CountryType (ABBREVIATION | ISO2 | ISO3 | ISO_NUMBER | 
    NAME_CN | NAME_DA | NAME_DE | NAME_EN | NAME_ES | NAME_FI | NAME_FR | NAME_GR | NAME_HU | 
    NAME_IT | NAME_JP | NAME_KR | NAME_NL | NAME_PL | NAME_PT | NAME_RU | NAME_SA | NAME_SE) "NAME_EN"
  CountryOfOriginISO3 CDATA #IMPLIED 
  
  PreferredScript (DATABASE | POSTAL_ADMIN_PREF | POSTAL_ADMIN_ALT | LATIN | LATIN_1 | LATIN_ALT |ASCII_SIMPLIFIED | ASCII_EXTENDED) "DATABASE"   
  PreferredLanguage (DATABASE | ENGLISH | ALTERNATIVE_1 | ALTERNATIVE_2 | ALTERNATIVE_3) "DATABASE"
 
  AddressElements (NONE | STANDARD | DETAILED) "STANDARD"
  AddressLines (ON | OFF) "ON"
  AddressComplete (ON | OFF) "ON"
  
  GlobalCasing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE) "NATIVE"
  GlobalMaxLength CDATA #IMPLIED
>
<!-- Result WriteXMLBOM:        Specifies if or when a BOM (byte order mark) shall be written at the start of the
                                Result.xml returned by the engine -->
<!-- Result Encoding:           The encoding for all results incl. Result.xml returned by the engine -->
<!-- see documentation: 5.13 Understanding Output Formatting -->
<!-- Result FormatType:         Specifies which elements shall be present in the formatted address lines and AddressComplete -->
<!-- Result FormatDelimiter:    Specifies which end-of-line character codes are to be used for address lines and AddressComplete -->
<!-- Result FormatWithCountry:  Specifies whether the country name shall be present in the formatted address lines and AddressComplete -->
<!-- Result FormatMaxLines:      -->
<!-- Result PreferredScript:  see documentation: 5.12.1 The PreferredScript Parameter -->
<!-- Result PreferredLanguage:  see documentation: 5.12.2 The PreferredLanguage Parameter -->
<!-- Result CountryOfOriginISO3:  see documentation: 5.12.4 The CountryType and CountryofOriginISO3 Parameters -->

<!-- see documentation: 5.14 Understanding Output Standardization -->
<!ELEMENT AddressElementStandardize (RecipientLine?, DeliveryAddressLine?, CountrySpecificLocalityLine?,
  FormattedAddressLine?, AddressComplete?, Country?, Locality?, PostalCode?, Province?,
  Street?, Number?, Building?, SubBuilding?, DeliveryService?, Organization?, Department?, 
  Contact?, FirstName?, MiddleName?, LastName?, Title?, Function?, Salutation?, Gender?, Residue?)>


<!ELEMENT RecipientLine EMPTY>
<!ATTLIST RecipientLine  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "NOCHANGE"
  MaxLength CDATA #IMPLIED   
>

<!ELEMENT DeliveryAddressLine EMPTY>
<!ATTLIST DeliveryAddressLine  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "NOCHANGE"
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT CountrySpecificLocalityLine EMPTY>
<!ATTLIST CountrySpecificLocalityLine  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "NOCHANGE"
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT FormattedAddressLine EMPTY>
<!ATTLIST FormattedAddressLine  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "NOCHANGE"
  MaxLength CDATA #IMPLIED   
>

<!ELEMENT AddressComplete EMPTY>
<!ATTLIST AddressComplete    
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Country EMPTY>
<!ATTLIST Country    
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Locality EMPTY>
<!ATTLIST Locality
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT PostalCode EMPTY>
<!ATTLIST PostalCode
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Province EMPTY>
<!ATTLIST Province
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Street EMPTY>
<!ATTLIST Street
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Number EMPTY>
<!ATTLIST Number
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Building EMPTY>
<!ATTLIST Building
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT SubBuilding EMPTY>
<!ATTLIST SubBuilding
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT DeliveryService EMPTY>
<!ATTLIST DeliveryService
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Organization EMPTY>
<!ATTLIST Organization  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Department EMPTY>
<!ATTLIST Department  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Contact EMPTY>
<!ATTLIST Contact  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT FirstName EMPTY>
<!ATTLIST FirstName  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT MiddleName EMPTY>
<!ATTLIST MiddleName  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT LastName EMPTY>
<!ATTLIST LastName  
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Title EMPTY>
<!ATTLIST Title
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Function EMPTY>
<!ATTLIST Function
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Salutation EMPTY>
<!ATTLIST Salutation
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Gender EMPTY>
<!ATTLIST Gender
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>

<!ELEMENT Residue EMPTY>
<!ATTLIST Residue
  Casing (NATIVE | UPPER | LOWER | MIXED | NOCHANGE | GLOBAL) "GLOBAL"      
  MaxLength CDATA #IMPLIED 
>